* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  height: 80%;
  overflow: hidden; 
}

body {
  background: url('FEIRA\ LIVRE.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  
}

/* Navbar */
.navbar {
  width: calc(100% - 30px); /* para compensar a margem e evitar scroll */
  background-color: #21432f;
  border-radius: 16px;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-top: 20px;
  margin: 20px;
}

.navbar h2 a {
  font-size: 30px;
  color: #f4ecda;
  text-decoration: none;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #f4ecda;
  position: relative;
  transition: 0.3s ease;
}

.navbar ul li a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -5px;
  background-color: #4b6445;
  transition: 0.3s ease;
}

.navbar ul li a:hover {
  color: #fff;
}

.navbar ul li a:hover::before {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.info-box {
  background-color: #21432f;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  height: 400px;
  margin-top: 40px;
  box-shadow: 2px 2px 5px #000;
}

.text-content {
  flex: 1;
  margin-top: 80px;
}

.info-box h2 {
  color: #f15a29;
  font-size: 28px;
}

.image-box {
  position: relative;
  flex-shrink: 0;
}

.image-box img {
  width: 520px;
  margin-top: 45px;
  border-radius: 12px;
 
}

.seta {
  position: absolute;
  top: 50%;
  right: -25px;
  font-size: 25px;
  color: white;
  text-decoration: none;
  transform: translateY(-50%);
  transition: transform 0.3s;
}

.seta:hover {
  transform: translateY(-50%) scale(1.1);
}