* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
    overflow: auto; /* Permite rolagem */
}

body {
    background: url('..//assets/FEIRA\ LIVRE.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
}

/* Navbar */
.navbar {
    width: calc(100% - 40px);
    background-color: #b44b25;
    border-radius: 16px;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 20px;
}

.navbar h2 a {
    font-size: 30px;
    color: #f4ecda;
    text-decoration: none;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #f4ecda;
    position: relative;
    transition: 0.3s ease;
}

.navbar ul li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: #4b6445;
    transition: 0.3s ease;
}

.navbar ul li a:hover {
    color: #fff;
}

.navbar ul li a:hover::before {
    width: 100%;
}

section{
    width: 70%;
    max-width: 800px;
    margin-left: 400px;
    margin-top: 50px;
}

section details{
    font-size: 18px;
    color: #282828;
}

section details summary{
    background-color: #f4ecda;
    padding: 2%;
    border-bottom: 2px solid #625448;
    margin-top: 5px;
}

section details p{
    background-color: #4b6445;
    padding: 2%;
    transition: all .5s;
}

section h2 {
    text-align: center;
    padding: 20px;
}